<!DOCTYPE html>
<html>
  <head>
    <title>Podmagic</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/29d7526af7.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css" rel="stylesheet"/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'audio-text-editor-bundle' %>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
          <i class="fas fa-fighter-jet" style="font-size:2em;"></i>
        </a>
      </div>

      <div class="navbar-menu">
        <div class="navbar-start">
          <a href="<%= root_url %>" class="navbar-item">
            Home
          </a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <% if current_user %>
              <div class="buttons">
                <%= link_to 'Log Out', logout_path, class: "button is-light" %>
              </div>
            <% else %>
              <div class="buttons">
                <%= link_to 'Sign Up', signup_path, class: "button is-primary" %>
                <%= link_to 'Log In', login_path, class: "button is-light" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </nav>

    <% if flash[:notice] %>
    <div class="notification is-danger has-text-centered" id="flash-notice">
      <button class="delete"></button>
      <%= flash[:notice] %>
    </div>
    <% end %>
    <%= yield %>
  </body>
</html>
